.App {
    background-color: grey;
    div {
        height: 200px;
    }
    button {
        
    }
    div {
        font-size: 15;
        div {
            font-size: 12;
            .hola {
                font-size: 20;
            }
        }
    }
}

.App {
    background-color: grey;
}

.App div {
    height: 200px;
}

.App div div .hola {

}